/*---------------------------------------------
Program     : 
Written By  : Stephen Connor    
Date        : 
Decription  : 
Version     : 
-----------------------------------------------*/
.website_logo img{
   /*height: 75%;
    width: 75%;*/
    border-radius: 50%;
}

header-content-inner {
    margin-top: 30%;
}

header .header-content {
    font-weight: 600;
}