/*---------------------------------------------
Program     : 
Written By  : Stephen Connor    
Date        : 
Decription  : 
Version     : 
-----------------------------------------------*/
nav .container-fluid{
     height: 150px;
    }    

.website_logo img{
   /*height: 75%;
    width: 75%;*/
    border-radius: 50%;
}

header .header-content h1{
    color: #ffffff;
    font-size: 60px;
}

header .header-content hr{
    border-color: #ffffff;
}

header .header-content {
    font-weight: 600;
    margin-top: 75px;
}